/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 251 83% 54%;
    --primary-foreground: 210 40% 98%;

    --secondary: 215 16% 91%;
    --secondary-foreground: 224 71% 4%;

    --muted: 215 16% 91%;
    --muted-foreground: 222 9% 35%;

    --accent: 200 90% 53%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 20% 85%;
    --input: 215 20% 85%;
    --ring: 251 83% 54%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 251 83% 54%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 215 16% 91%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 215 20% 85%;
    --sidebar-ring: 227 100% 72%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 227 100% 72%;
    --primary-foreground: 224 71% 4%;

    --secondary: 229 24% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 229 24% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 199 90% 53%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 229 24% 20%;
    --input: 229 24% 20%;
    --ring: 227 100% 72%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 227 100% 72%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 229 24% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 229 24% 20%;
    --sidebar-ring: 227 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
